@model MvcCv.Models.Entity.TblEgitimlerim
@{
    ViewBag.Title = "YeniEgitim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-text">Yeni Eğitim Ekleme Sayfası</h2>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <form method="post">
                                    @Html.Label("Eğitim Açıklaması")
                                    @Html.TextBoxFor(x => x.BASLIK, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.BASLIK, "", new { @style = "color:red" })
                                    <br />
                                    @Html.Label("Fakülte")
                                    @Html.TextBoxFor(x => x.ALTBASLIK1, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ALTBASLIK1, "", new { @style = "color:red" })
                                    <br />
                                    @Html.Label("Bölüm")
                                    @Html.TextBoxFor(x => x.ALTBASLIK2, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ALTBASLIK2, "", new { @style = "color:red" })
                                    <br />
                                    @Html.Label("GNO")
                                    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "color:red" })
                                    <br />
                                    @Html.Label("Tarih")
                                    @Html.TextBoxFor(x => x.TARIH, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.TARIH, "", new { @style = "color:red" })
                                    <br />
                                    <button class="btn btn-info">Kaydet</button>
                                </form>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>
