@using MvcCv.Models.Entity
@model List<TblHakkimda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-text">Hakkımda Düzenleme Sayfası</h2>
                            </div>
                            <!-- /.card-header -->
                            <form class="card-body" method="post">
                                @foreach (var item in Model)
                                {
                                    <label>Ad</label>
                                    <input type="text" name="Ad" value="@item.AD" class="form-control" />
                                    <br />
                                    <label>Soyad</label>
                                    <input type="text" name="Soyad" value="@item.SOYAD" class="form-control" />
                                    <br />
                                    <label>Adres</label>
                                    <input type="text" name="Adres" value="@item.ADRES" class="form-control" />
                                    <br />
                                    <label>Telefon</label>
                                    <input type="text" name="Telefon" value="@item.TELEFON" class="form-control" />
                                    <br />
                                    <label>Mail</label>
                                    <input type="text" name="Mail" value="@item.MAIL" class="form-control" />
                                    <br />
                                    <label>Resim</label>
                                    <input type="text" name="Resim" value="@item.RESIM" class="form-control" />
                                    <br />
                                    <label>Açıklama</label>
                                    <textarea rows="7" class="form-control" name="ACIKLAMA">@item.ACIKLAMA</textarea>
                                }
                                <br />
                                <button class="btn btn-primary">Güncelle</button>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>


